# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio files
.vs/
out/
CMakeSettings.json

# CMake build folders
build/
build-*/
cmake-build-*/

# CLion project metadata
.idea/

# macOS custom folder attributes
.DS_Store
